<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <%= link_to 'Engage Scraper', root_path  %>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <%= link_to 'ES', root_path %>
    </div>
    <ul class="sidebar-menu" data-controller="sidebar">
      <li class="<%= active_nav_item('home', 'index') %>">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fas fa-fire"></i> <span>Dashboard</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('lessons', 'index') %>">
        <%= link_to lessons_path, class: "nav-link" do %>
          <i class="fas fa-chalkboard-teacher"></i> <span>Timetable</span>
        <% end %>
      </li>

      <li class="<%= active_nav_item('forms', 'show') %>">
        <%= link_to current_user.form, class: "nav-link" do %>
          <i class="fas fa-users"></i> <span>Form</span>
        <% end %>
      </li>
      <!--
      <li class="menu-header">Controllers</li>
      <%= render 'shared/sidebar_dropdown', title: 'Resources', icon: 'fas fa-file-alt' do %>
      
        <li class="<#= active_nav_item('customers', crud_actions) #>">
          <#= link_to 'Customers', customers_path, class: 'nav-link' #>
        </li>
      -->
      <% end %>
    </ul>

    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
      <%= link_to authorise_scrape_engage_path, class: "btn btn-primary btn-lg btn-block btn-icon-split" do %>
        <i class="fas fa-sync"></i> <span>Sync with Engage</span>
      <% end %>
    </div>

  </aside>
</div>
